.pull-right
  %button.btn.btn-default{'data-ajax-refresh' => true, 'data-url' => logs_generate_path}
    %i{class: "glyphicon glyphicon-refresh"}
%h1 Characters list
%table.table.table-striped.table-hover.character-list
  %thead
    %tr
      %th character
      %th meaning
      %th type
      %th level
      %th logs
      %th first occurrence
      %th
  %tbody
    - @characters.each do |character|
      %tr
        %td.character-jp
          - if character.character.nil?
            %img.character-image{:src => "#{character.image}"}/
          - else
            = character.character
        %td= character.meaning
        %td= character.type
        %td= character.logs.last.srs
        %td= character.logs.size
        %td= character.created_at.strftime(Rails.application.config.date_format_long)
        %td= link_to 'Show', character_path(character)
= will_paginate @characters, :renderer => BootstrapPagination::Rails
