!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wanikani stats
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Brand', root_path, {:class => 'navbar-brand' }
        #bs-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - @navbar.each do |menu_item|
              %li{:class => ('active' if controller_name == menu_item[:controller_name]) }
                = link_to menu_item[:name], menu_item[:path]
    - if @breadcrumbs
      .container
        %ol.breadcrumb
          - @breadcrumbs[0...-1].each do |txt, path|
            %li.breadcrumb-item
              = link_to(h(txt), path)
          %li.breadcrumb-item.active
            = h(@breadcrumbs.last[0])
    .container
      = yield
