.row
  .user-avatar.hidden-xs
    %img{src: "https://www.gravatar.com/avatar/#{@user['gravatar']}.jpg?s=300&d=https://cdn.wanikani.com/default-avatar-300x300-20121121.png"}/
  .user-info
    .pull-right
      %button.btn.btn-default{'data-ajax-refresh' => true, 'data-url' => users_update_path}
        %i{class: "glyphicon glyphicon-refresh"}
    %h2.username 
      = @user['username']
    %h4 
      title:
      = @user['title']
    %h4 
      level: 
      = @user['level']
    %h4 
      last new log:
      = @last_update.strftime(Rails.application.config.date_time_format_long)
%hr
.row
  .col-xs-12
    %h2 current level progress:
    %h3 Radicals:
    - progress_bar(@progress['radicals_percent'], [0, @user['radicals_total']])
    %h3 Kanji:
    - progress_bar(@progress['kanji_percent'], [0, @user['kanji_total']])
